body{
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.container{
    background-color: aliceblue;
    border:black solid 3px;
    border-radius: 20px;
    width: 90%;
    max-width: 600px;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px auto;
}
.reservationForm{
    margin: 50px;
}
label{
    display: block;
}
select{
    width: 25%;
    font-size: 20px;
    margin: 10px 0px;
}

.time,
.nameinput{
    display: flex;
    justify-content: center;
    align-items: center;
}

.endtime,
.lastname{
    margin-left: 20px;
}

input,
input[type="date"],
input[type="time"],
input[type="email"],
input[type="tel"],
input[type="text"]{
    font-size: 20px;
    margin: 10px 0px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 10px;
    margin: 25px auto;
    display: block;
    font-weight: bolder;
    background-color: green;
}
@media only screen and (max-width: 400px) {
    .time{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .timeframes{
       width: 350px;
    }
    
    
}